PORT=3001
NODE_ENV=development
ACCESS_TOKEN=mysecrettoken
YANDEX_FOLDER_ID=b1gxxxxxxxx
YANDEX_API_KEY=AQVNxxxxxxxx
MODEL_ID=qwen3-235b-a22b-fp8
DATABASE_PATH=./data/db.sqlite3
CORS_ORIGIN=http://localhost:5173
